services:
  app:
    image: url-shortener:latest
    build: .
    container_name: url-shortener
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATA_REDIS_HOST=redis
      - DYNAMO_ENDPOINT=http://dynamodb-local:8000
    depends_on:
      - dynamodb-local
      - redis

  dynamodb-local:
    image: amazon/dynamodb-local:latest
    container_name: dynamodb-local
    ports:
      - "8000:8000"
    command: "-jar DynamoDBLocal.jar -sharedDb"

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
